@inject NavigationManager NavigationManager
        <div class="logo-container">
        <button @onclick="GoToHome" class="btn btn-outline-primary homebutton">
            Cj Shop
        </button>
        </div>
        @code {

            private void GoToHome()
            {
                NavigationManager.NavigateTo("");
            }

        }
